@using Site.Service.SiteService.SiteServices;
@using Site.Common;
@{

    int pageSize = ViewBag.pageSize;
    int pageIndex = ViewBag.pageIndex;
    int rowCount = ViewBag.rowCount;

    int cateId = ViewBag.cateId;
    Site_Cates c_info = ViewBag.c_info;
    List<Site_Content> list = ViewBag.list;
}
@{
    ViewBag.Title = "宇扬网_列表页_" + c_info.c_name;
    ViewBag.keywords = "宇扬网_" + c_info.c_name;
    ViewBag.description = ViewBag.Title + ",汇聚全网最全信息，即时信息";

    Layout = "~/Views/Shared/_Layout_List.cshtml";
}


<div class="content_left">
    <div class="content_block">
        @foreach (Site_Content item in list)
        {
            <a href="@SiteUntility.GetRelationDetailUrl(item.c_gid)" title="@item.c_title" target="_blank">
                <div class="content_img_hot">
                    @if (!string.IsNullOrEmpty(item.c_img_src))
                    {
                        <img src="@item.c_img_src" />
                    }
                    <div>
                        <span class="list_title">@item.c_title</span>
                        <p>@item.c_intro</p>
                        <span class="r_v mr5">1235</span>
                        <span class="r_v view"></span>
                        <span class="r_v mr10">@item.c_createTime.ToStringFullDate()</span>
                    </div>
                </div>
            </a>
        }
    </div>
    @Html.Raw(SiteUntility.CreateListPage(cateId.ToString(), pageSize, pageIndex, rowCount))
</div>

<div class="content_right">
    @{
        Html.RenderPartial("~/Views/Common/ListRight.cshtml");
    }
</div>

