@@{
    ViewBag.Title = "宇扬网_首页";
    ViewBag.keywords = "宇扬网，有你想要的";
    ViewBag.description = "宇扬网，综合门户网站，自由发布平台，有你想要的，看你想看的";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Site.Service.SiteService.SiteServices;
@using Site.Admin.Common;
@using Site.Common;

@{
    Dictionary<string, List<Site_CMSItem>> dic = ViewBag.dataList;
}
@if (dic.Count > 0)
{
    <div class="content_left">
        <!--轮播 start-->
        <div class="img_lb" id="scroll_lb">
            @foreach (Site_CMSItem item in dic["10"])
            {
                <div>
                    <a href="@SiteUntility.GetRelationDetailUrl(item.i_c_gid)" target="_blank" title="@item.i_title">
                        <img src="@item.i_c_img_src" />
                        <div class="img_title">
                            <span>@item.i_title</span>
                        </div>
                    </a>
                </div>
            }           
        </div>
        <script>
                $(function () {
                    var length = $("#scroll_lb").children().length;
                    var max = 700 * (length - 1);
                    scrollerImage(max);
                });

                function scrollerImage(max) {
                    setTimeout(function () {
                        var left = 0;
                        var leftPx = $("#scroll_lb").css("left");
                        left = parseInt(leftPx.replace("px", ""));
                        if (left == -max) {
                            left = 0;
                        } else {
                            left = left - 700;
                        }
                        $("#scroll_lb").animate({ left: left + "px" }, 1000, function () {
                            scrollerImage(max);
                        });
                    }, 2500);
                }


        </script>
        <!--轮播 end-->
        <!--分类块1-->
        <div class="content_cate">
            <div class="cate_block">
                <span>要闻</span>
                <a href="@SiteUntility.GetRelationCateUrl("1")" target="_blank" class="more">更多>></a>
            </div>
            @{
                for (int i = 0; i < dic["14"].GetLength<Site_CMSItem>(1); i++)
                {
                    <!--图-->
                    <div class="content_cate_hot">
                        <img src="@dic["14"][i].i_c_img_src" />
                        <div>
                            <a href="@SiteUntility.GetRelationDetailUrl(dic["14"][i].i_c_gid)" target="_blank" title="@dic["14"][i].i_title"><span>@dic["14"][i].i_subTitle</span></a>
                        </div>
                    </div>
                }
            }
            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                    @{
                        for (int i = 1; i < dic["14"].GetLength<Site_CMSItem>(6); i++)
                        {
                            <li><a href="@SiteUntility.GetRelationDetailUrl(dic["14"][i].i_c_gid)" target="_blank" title="@dic["14"][i].i_title">@dic["14"][i].i_subTitle</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="content_cate l3">
            <div class="cate_block">
                <span>趣事</span>
                <a href="@SiteUntility.GetRelationCateUrl("6")" class="more">更多>></a>
            </div>
            @{
                for (int i = 0; i < dic["15"].GetLength<Site_CMSItem>(1); i++)
                {
                    <!--图-->
                    <div class="content_cate_hot">
                        <img src="@dic["15"][i].i_c_img_src" />
                        <div>
                            <a href="@SiteUntility.GetRelationDetailUrl(dic["15"][i].i_c_gid)" target="_blank" title="@dic["15"][i].i_title"><span>@dic["15"][i].i_subTitle</span></a>
                        </div>
                    </div>
                }
            }
            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                    @{
                        for (int i = 1; i < dic["15"].GetLength<Site_CMSItem>(6); i++)
                        {
                            <li><a href="@SiteUntility.GetRelationDetailUrl(dic["15"][i].i_c_gid)" target="_blank" title="@dic["15"][i].i_title">@dic["15"][i].i_subTitle</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="content_cate l3">
            <div class="cate_block">
                <span>美女</span>
                <a href="@SiteUntility.GetRelationCateUrl("7")" class="more">更多>></a>
            </div>
            @{
                for (int i = 0; i < dic["16"].GetLength<Site_CMSItem>(1); i++)
                {
                    <!--图-->
                    <div class="content_cate_hot">
                        <img src="@dic["16"][i].i_c_img_src" />
                        <div>
                            <a href="@SiteUntility.GetRelationDetailUrl(dic["16"][i].i_c_gid)" target="_blank" title="@dic["16"][i].i_title"><span>@dic["16"][i].i_subTitle</span></a>
                        </div>
                    </div>

                }
            }
            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                    @{
                        for (int i = 1; i < dic["16"].GetLength<Site_CMSItem>(6); i++)
                        {
                            <li><a href="@SiteUntility.GetRelationDetailUrl(dic["16"][i].i_c_gid)" target="_blank" title="@dic["16"][i].i_title">@dic["16"][i].i_subTitle</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <!--分类块2-->
        <div class="content_cate">
            <div class="cate_block">
                <span>生活</span>
                <a href="@SiteUntility.GetRelationCateUrl("8")" target="_blank" class="more">更多>></a>
            </div>
            @{
                for (int i = 0; i < dic["17"].GetLength<Site_CMSItem>(1); i++)
                {
                    <!--图-->
                    <div class="content_cate_hot">
                        <img src="@dic["17"][i].i_c_img_src" />
                        <div>
                            <a href="@SiteUntility.GetRelationDetailUrl(dic["17"][i].i_c_gid)" target="_blank" title="@dic["17"][i].i_title"><span>@dic["17"][i].i_subTitle</span></a>
                        </div>
                    </div>
                }
            }
            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                    @{
                        for (int i = 1; i < dic["17"].GetLength<Site_CMSItem>(6); i++)
                        {
                            <li><a href="@SiteUntility.GetRelationDetailUrl(dic["17"][i].i_c_gid)" target="_blank" title="@dic["17"][i].i_title">@dic["17"][i].i_subTitle</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="content_cate l3">
            <div class="cate_block">
                <span>搞笑</span>
                <a href="@SiteUntility.GetRelationCateUrl("9")" class="more">更多>></a>
            </div>
            @{
                for (int i = 0; i < dic["18"].GetLength<Site_CMSItem>(1); i++)
                {
                    <!--图-->
                    <div class="content_cate_hot">
                        <img src="@dic["18"][i].i_c_img_src" />
                        <div>
                            <a href="@SiteUntility.GetRelationDetailUrl(dic["18"][i].i_c_gid)" target="_blank" title="@dic["18"][i].i_title"><span>@dic["18"][i].i_subTitle</span></a>
                        </div>
                    </div>
                }
            }
            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                    @{
                        for (int i = 1; i < dic["18"].GetLength<Site_CMSItem>(6); i++)
                        {
                            <li><a href="@SiteUntility.GetRelationDetailUrl(dic["18"][i].i_c_gid)" target="_blank" title="@dic["18"][i].i_title">@dic["18"][i].i_subTitle</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="content_cate l3">
            <div class="cate_block">
                <span>斗图</span>
                <a href="@SiteUntility.GetRelationCateUrl("10")" class="more">更多>></a>
            </div>
            @{
                for (int i = 0; i < dic["19"].GetLength<Site_CMSItem>(1); i++)
                {
                    <!--图-->
                    <div class="content_cate_hot">
                        <img src="@dic["19"][i].i_c_img_src" />
                        <div>
                            <a href="@SiteUntility.GetRelationDetailUrl(dic["19"][i].i_c_gid)" target="_blank" title="@dic["19"][i].i_title"><span>@dic["19"][i].i_subTitle</span></a>
                        </div>
                    </div>

                }
            }
            <!--文-->
            <div class="content_cate_hot_list">
                <ul>
                    @{
                        for (int i = 1; i < dic["19"].GetLength<Site_CMSItem>(6); i++)
                        {
                            <li><a href="@SiteUntility.GetRelationDetailUrl(dic["19"][i].i_c_gid)" target="_blank" title="@dic["19"][i].i_title">@dic["19"][i].i_subTitle</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="content_right">
        <!--右侧热点-->
        <div class="content_list_hot">
            <ul>
                @for (int i = 0; i < dic["13"].GetLength<Site_CMSItem>(9); i++)
                {
                    <li><a href="@SiteUntility.GetRelationDetailUrl(dic["13"][i].i_c_gid)" target="_blank" title="@dic["13"][i].i_title">@(dic["13"][i].i_subTitle.Length>9?dic["13"][i].i_subTitle.Substring(0,9):dic["13"][i].i_subTitle)</a></li>
                }
            </ul>
        </div>
        <!--右侧图文-->
        <div class="content_block">
            @foreach (Site_CMSItem item in dic["12"].GetLengthObject<Site_CMSItem>(3))
            {
                <a href="@SiteUntility.GetRelationDetailUrl(item.i_c_gid)" target="_blank" title="@item.i_title">
                    <div class="content_img_hot">
                        <img src="@item.i_c_img_src" />
                        <div>
                            <span>@item.i_title</span>
                            <p>@item.i_intro</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="clear"></div>
        <!--热门阅读排行-->
        <div class="content_hot">

        </div>

        <!--热门阅读排行-->
        <div class="content_hot">

        </div>
    </div>

}